body, table.body, h1, h2, h3, h4, h5, h6, p, td  {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #424143;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #085694;
  margin-bottom: 16px;
  margin-top: 0px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

h2.subtitle {
  color: #97c940;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: #085694;
}

hr { height: 2px; background-color: #ebc31c; color: #ebc31c; border: none; margin: 16px 0;}

p {
  margin: 14px 0;
}

#banner tbody tr td.wrapper {
  padding-top: 0;
}

#banner tbody tr td table tbody tr td {
  padding-bottom: 0;
}

#title tbody tr td {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}

#main tbody tr td.wrapper {
  padding: 20px;
}

.panel {
  padding:15px;
  background: #ebebeb;
  margin-bottom: 15px;
  border: none;
}
