<div class="jumbotron">
  <h1>NACEDA Email Generator</h1>
  <p>Pick an email template to get started.</p>
  <div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-default"><a href="/form-news">Newsletter</a></button>
    <button type="button" class="btn btn-default">Action Alert</button>
    <button type="button" class="btn btn-default">People & Places</button>
    <button type="button" class="btn btn-default">Announcement</button>
  </div>
</div>
