<% content_for :page_title do %>
  Action Alert
<% end %>

<% content_for :teaser_text do %>
  Act Now to Advance Community Prosperity
<% end %>

<% content_for :date do %>
  March 4, 2016
<% end %>

<% content_for :banner_image do %>
  https://naceda.memberclicks.net/assets/images/Email_Banners/naceda_actionalert.jpg
<% end %>

<% content_for :banner_title do %>
  <h1>News <span class="small">from</span> Naceda</h1>
  <p class="tagline">News You Can Use to Advance Community Prosperity</p>
<% end %>

<!-- STRIP: Begin Action Alert -->
<h2>Action Alert Headline</h2>
<h3 class="subtitle">Action Alert Subheading</h3>

<p>Action Alert text</p>

<!-- STRIP: Begin Take Action Panel -->
<table cellpadding="10" cellspacing="0" border="0" cellspacing="0" border="0" class="panel blue">
  <thead>
    <tr class="panel-head">
      <td>
        <h4>Take Action</h4>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p><a href="http://naceda.org/2016-summit">Save the Date! 9th Annual NACEDA Summit</a><br/>August 29-31 | Cleveland, OH</p>
      </td>
    </tr>
  </tbody>
</table>
<!-- STRIP: End panel -->
