<% content_for :page_title do %>
  News from Naceda
<% end %>

<% content_for :banner_image do %>
  https://naceda.memberclicks.net/assets/images/Email_Banners/naceda_news.jpg
<% end %>

<% content_for :banner_title do %>
  <h1>News <span class="small">from</span> Naceda</h1>
  <p class="tagline">News You Can Use to Advance Community Prosperity</p>
<% end %>

<% content_for :current_date do %>
  February 29, 2016
<% end %>

<!-- STRIP: Begin NACEDA news -->
<h2>NACEDA News</h2>

<h3>NACEDA Unveils New Website and New Look</h3>
<p>Take a look at the new <a href="http://naceda.org">NACEDA website.</a> It's part of a major upgrade to our web platform and member management system that will facilitate better communication between NACEDA members across the country and provide <a href="http://naceda.org/grantstation-info">easier access to GrantStation.</a> We've re-designed our website, newsletters, action alerts and emails to more effectively disseminate information and showcase the community development field.</p>

<h3>NACEDA Partners With NDC to Bring Housing Development Finance Series to Mid-Atlantic</h3>
<p>With support from BB&amp;T, NACEDA has contracted with NDC to provide their full, 17-day <a href="/NDCtrainings">Housing Development Finance Professional Certification Series</a> in the Mid-Atlantic region in 2016-2017. The series consists of four separate courses, which build on each other. These high-level courses advance participants' capacity to deliver viable and affordable homes &minus; and advance careers. NACEDA is partnering with the Housing Alliance of Pennsylvania, Philadelphia Association of CDCs, Community Development Network of Maryland and the Housing and Community Development Network of New Jersey to offer the courses to their networks. People from outside these networks are welcome to participate. <a href="http://www.naceda.org/NDCtrainings">Registration is open </a>for all classes. <a href="http://www.housingalliancepa.org/node/2395">Watch this webinar</a> to learn how the NDC courses can build your development finance skills.</p>

<!-- STRIP: Begin NACEDA Events Panel -->
<table cellpadding="10" cellspacing="0" border="0" cellspacing="0" border="0" class="panel">
  <thead>
    <tr class="panel-head">
      <td>
        <h4>NACEDA Events</h4>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p><a href="http://naceda.org/2016-summit">Save the Date! 9th Annual NACEDA Summit</a><br/>August 29-31 | Cleveland, OH</p>
        <%= hr %>
        <p>NDC Housing Development Finance Series:</p>
        <ul>
          <li><a href="https://naceda.memberclicks.net/ndctrainings">NDC HD410 − Home Ownership Finance</a> | April 18-21, 2016 | Ewing, NJ</li>
          <li><a href="https://naceda.memberclicks.net/ndctrainings">NDC HD420 − Rental Housing Development Finance</a> | September 26-30, 2016 | Philadelphia, PA</li>
          <li><a href="https://naceda.memberclicks.net/ndctrainings">NDC HD422 − Computer Spread Sheet Analysis</a> | April 26-28, 2017 | Baltimore, MD</li>
          <li><a href="https://naceda.memberclicks.net/ndctrainings">NDC HD430 − Problem Solving and Deal Structuring</a> | October 2-6, 2017 | Southeast PA</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<%= hr %>

<!-- STRIP: Begin federal news -->
<h2>Federal News</h2>

<h3>TAKE ACTION − Key Federal Budget Sign-On Letters Close Today and Tomorrow</h3>
<p>Congress is deciding how to cut the FY 2017 budget pie among 12 appropriations subcommittees. The sign-on letter urging Congress to allocate the largest possible slice of the pie to housing and transportation to housing and transportation closes today.<a href="http://nlihc.org/issues/budget/302b"> Sign the letter advocating for maximum HUD funding by COB today</a>, February 29. A letter urging Congress to protect funding for the HOME Investment Partnerships Program ends tomorrow. <a href="http://salsa3.salsalabs.com/o/50954/p/dia/action3/common/public/?action_KEY=18113">Sign on to preserve HOME funding by tomorrow</a>, March 1.</p>

  <p>Highlights from the FY 2016 Omnibus Appropriations Bill:</p>
  <ul>
    <li>HOME Program - funding increased to $950 million from $900 million in FY 2015</li>
    <li>National Housing Trust Fund - preserved</li>
    <li>Vouchers - funding for renewals appears to be short by about $369 million; the only new vouchers are VASH vouchers for veterans</li>
    <li>Homeless Assistance Grants - funding increased to $2.250 billion from $2.135 billion in FY 2015</li>
    <li>Project-Based Rental Assistance - appears short on renewal funding by about $200 million</li>
    <li>Public Housing Operating and Capital Funds - small increases for both</li>
    <li>Moving to Work - reduces the Senate’s proposed expansion from 300 to 100 agencies and adds research protocols, as well as some modest reforms</li>
    <li>Amendments to weaken federal fair housing law were not included.</li>
  </ul>

<%= hr %>

<!-- STRIP: Begin Member News -->
<h2>Member News</h2>

<h3>Headline</h3>
  <p>Republicans and Democrats reached an agreement late last night on a $1.1 trillion bill to fund thegovernment until October 2016, including a package of “tax extenders” that would make expired tax provisions permanent. If enacted, the current bill would boost FY 2016 funding for most affordable housing programs over the FY 2015 levels. The House and Senate are expected to pass the legislation by the end of the week. <a href="#">Read more</a></p>

<h3>Another, much longer headline this time for NACEDA News</h3>
  <p>Republicans and Democrats reached an agreement late last night on a $1.1 trillion bill to fund thegovernment until October 2016, including a package of “tax extenders” that would make expired tax provisions permanent. If enacted, the current bill would boost FY 2016 funding for most affordable housing programs over the FY 2015 levels. The House and Senate are expected to pass the legislation by the end of the week. <a href="#">Read more</a></p>

  <!-- STRIP: Begin Member Events Panel -->
  <table cellpadding="20" cellspacing="0" border="0" cellspacing="0" border="0" class="panel">
    <thead>
      <tr class="panel-head">
        <td>
          <h4>Member Events</h4>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><a href="http://www.housingconsortium.org/events/hdc-celebration/">Save the Date! 9th Annual NACEDA Summit</a><br/>March 29 | Seattle, WA</p>
          <%= hr %>
          <p><a href="http://www.tacdc.org/annual-conference-1.html">Texas Association of CDCs Annual Conference</a><br>April 10-13 | South Padre Island, TX<br>
            with a <a title="docx" href="http://files.ctctcdn.com/ed94ff28001/141f25a0-5311-4920-9eee-3aceaad65517.docx">Building Financial Sustainability 1-Day Workshop</a> [.docx] facilitated by the Nonprofit Finance Fund on April 13</p>
        </td>
      </tr>
    </tbody>
  </table>
