<% content_for :page_title do %>
  News from Naceda
<% end %>

<% content_for :banner_title do %>
  <h1>News <span class="small">from</span> Naceda</h1>
  <p class="tagline">News You Can Use to Advance Community Prosperity</p>
<% end %>

<% content_for :current_date do %>
  February 2016
<% end %>

<h2>Federal News</h2>

<h3>Congressional Budget Deal Preserves Affordable Housing Funding and Tax Credits</h3>

<p>Republicans and Democrats reached an agreement late last night on a $1.1 trillion bill to fund thegovernment until October 2016, including a package of “tax extenders” that would make expired tax provisions permanent. If enacted, the current bill would boost FY 2016 funding for most affordable housing programs over the FY 2015 levels. The House and Senate are expected to pass the legislation by the end of the week.</p>

<p>Highlights from the FY 2016 Omnibus Appropriations Bill:</p>

<ul>
  <li>HOME Program - funding increased to $950 million from $900 million in FY 2015</li>
  <li>National Housing Trust Fund - preserved</li>
  <li>Vouchers - funding for renewals appears to be short by about $369 million; the only new vouchers are VASH vouchers for veterans</li>
  <li>Homeless Assistance Grants - funding increased to $2.250 billion from $2.135 billion in FY 2015</li>
  <li>Project-Based Rental Assistance - appears short on renewal funding by about $200 million</li>
  <li>Public Housing Operating and Capital Funds - small increases for both</li>
  <li>Moving to Work - reduces the Senate’s proposed expansion from 300 to 100 agencies and adds research protocols, as well as some modest reforms</li>
  <li>Amendments to weaken federal fair housing law were not included.</li>
</ul>
